PORT=8000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=projectcamp

ACCESS_TOKEN_SECRET=change-me
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=change-me-too
REFRESH_TOKEN_EXPIRY=10d

FRONTEND_URL=http://localhost:5173

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASS=
MAIL_FROM=Project Camp <no-reply@projectcamp.dev>
